streamlit
leafmap
rasterio
rio-cogeo
folium
streamlit-folium
nest-asyncio
localtileserver
geopandas
shapely
fiona
pyproj
rtree
streamlit-file-browser
seaborn
watchdog
comet-ml>=3.33.6
python-dotenv>=1.0.0